* {
    box-sizing: border-box;
  }
body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

html {
    height: 100%;
}

body {
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.1);
    min-height: 100%;
    
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 30px;
    z-index: 1;
    background-image: 
      linear-gradient(rgba(30,32,33,0.2), rgba(30,42,53,1)), 
      url("https://images.unsplash.com/photo-1552910996-e666ad64695c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

.container {
    height: 100%;
    min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 100px;
}
span {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

h1 {
    padding: 0;
    margin: 0;
}
.closes {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
}

.inline {
    display: inline;
}
.no-pad {
    padding: 0;
    margin: 0;
}

.dg.ac {
    z-index: 2!important;
  }

#app canvas {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    mix-blend-mode: color-dodge;
  }
